<body>
  <%-include('../partials/navbar.ejs') %>
  <div class="main">
    <h1>Skills</h1>
    <a href="/skills/new"> Add new Skill</a>

    <ol>
      <% skills.forEach(s => { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.name %></a>
      </li>
      <% }) %>
    </ol>

    <p>Skills as of <%=time %></p>
  </div>

  <%-include('../partials/footer.ejs') %>
</body>
